<div class="bg-info text-white pt-3 pt-lg-4 pb-2">
    <div class="container">
        <div class="d-flex flex-column flex-lg-row justify-content-lg-between mb-3">
            <div class="footer--nav mb-3 mb-lg-0">
                <a class="footer--link text-nowrap" href="home.html">Home</a>
                &bull;
                <a class="footer--link text-nowrap" href="experience.html">Experience</a>
                &bull;
                <a class="footer--link text-nowrap" href="../park-characters.html">Park Characters</a>
                &bull;
                <a class="footer--link text-nowrap" href="park-information.html">Park Information</a>
                &bull;
                <a class="footer--link text-nowrap" href="what-ups.html">What Ups</a>
                &bull;
                <a class="footer--link text-nowrap" href="business-opportunity.html">Business Opportunity</a>
                &bull;
                <a class="footer--link text-nowrap" href="leisure-and-dining.html">Leisure & Dining</a>
                &bull;
                <a class="footer--link text-nowrap" href="contact-us.html">Contact Us</a>
            </div>
            <div>
                <div><i class="fas fa-envelope mr-2"></i>contact@funzone.com</div>
                <div><i class="fas fa-phone-alt mr-2"></i>(+12) 345 667 8910</div>
                <div class="mt-2">
                    <a class="footer--link mr-2" href="#">
                        <i class="fab fa-facebook-square fa-2x"></i>
                    </a>
                    <a class="footer--link mr-2" href="#">
                        <i class="fab fa-twitter-square fa-2x"></i>
                    </a>
                    <a class="footer--link mr-2" href="#">
                        <i class="fas fa-rss-square fa-2x"></i>
                    </a>
                </div>
            </div>
        </div>
        <hr class="footer--divider">
        <div class="small d-flex flex-column flex-md-row justify-content-md-between">
            <div class="mx-1">&copy; 2016 Fun Zone Park. All Rights Reserved</div>
            <div>
                <a class="mx-1 footer--link" href="#">Site map</a>
                <a class="mx-1 footer--link" href="#">Privacy policy</a>
            </div>
        </div>
    </div>
</div>
