@media (max-width: 768px) {
    .text-fun-zone-info-detail {
        line-height: 1.0rem;
        font-size: 80%;
    }

    .text-fun-zone-info-detail {
        line-height: 1.7rem;
    }

    .experience-fun-zone-img {
        line-height: 1.7rem;
    }

    .experience-text {
        padding: 1rem 2rem 0.5em 1.5rem !important;
    }

    .experience-fun-zone-img {
        padding-left: 1.5rem !important;
        padding-right: 2rem !important;
    }
}

@media (max-width: 576px) {
    .text-fun-zone-info-detail {
        padding-bottom: 0.5rem;
    }
}

.carousel {
    height: 380px;
    overflow: hidden;
}

@media (min-width: 576px) {
    .carousel {
        height: 420px;
    }
}

@media (min-width: 768px) {
    .carousel {
        height: 480px;
    }
}

@media (min-width: 992px) {
    .carousel {
        height: 510px;
    }
}

@media (min-width: 1200px) {
    .carousel {
        height: auto;
        max-height: 800px;
    }

    .carousel-image {
        width: 100%;
    }
}

/* carousel banner */
.feature-card {
    background-color: #00B9B9;
    text-align: center;
    color: white;
    padding: 1.6rem 1.1rem 1.8rem 1.1rem;
}

.feature-card--title {
    font-size: 1.8rem;
    line-height: 1.9rem;
    margin-bottom: .6rem;
}

.feature-card--text {
    font-size: 1.2rem;
    line-height: 1.3rem;
}

@media (min-width: 992px) {
    .feature-card {
        text-align: left;
        padding: 2.2rem 2.2rem;
    }

    .feature-card--title {
        font-size: 2rem;
        line-height: 2.2rem;
        margin-bottom: .8rem;
    }

    .feature-card--text {
        font-size: 1.2rem;
        line-height: 1.3rem;
    }
}

.show-case__card {
    padding: 2rem;
}

.show-case__card--title {
    font-weight: 600;
    font-size: 1.3rem;
    margin-bottom: .5rem;
}

.show-case__card--text {
    font-weight: 300;
    font-size: 1rem;
    margin-bottom: .8rem;
}

.show-case__card--action {
    display: flex;
    justify-content: start;
}

@media (min-width: 576px) {
    .show-case__card {
        padding: 3rem;
    }

    .show-case__card--title {
        font-weight: 600;
        font-size: 1.7rem;
        margin-bottom: .8rem;
    }

    .show-case__card--text {
        font-weight: 300;
        font-size: 1.1rem;
        margin-bottom: .8rem;
    }
}

@media (min-width: 992px) {
    .show-case__card {
        padding: 0;
        max-width: 350px;
    }

    .show-case__card--title {
        font-size: 1.6rem;
        margin-bottom: .5rem;
    }

    .show-case__card--text {
        font-size: 1.2rem;
        margin-bottom: .8rem;
    }
}

@media (min-width: 1200px) {
    .show-case__card {
        max-width: 500px;
    }

    .show-case__card--title {
        font-size: 2rem;
        margin-bottom: .8rem;
    }

    .show-case__card--text {
        font-size: 1.4rem;
        margin-bottom: .8rem;
    }
}

.famous {
    padding-top: 5rem;
    padding-bottom: 4rem;
}

.famous .famous {
    max-width: 18rem;
}

.famous .famous img {
    max-width: 12rem;
    box-shadow: 0 5px 5px 0 #adb5bd;
}
