.container-inner {
    position: relative;
    background: white;
}

.image {
    width: 100%;
}

@media (min-width: 768px) {
    .top-move {
        margin-top: -69px;
    }

    .container-inner {
        border: 1px solid rgba(0, 0, 0, .4);
    }
}
