.container-inner {
    position: relative;
    background: white;
}

.text-title {
    font-size: 110%;
}

.image {
    width: 100%;
}

@media (min-width: 576px) {
    .container-inner {
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
    }

    .top-move {
        margin-top: -65px;
    }
}

.carousel {
    height: 0;
    overflow: hidden;
}

@media (min-width: 576px) {
    .carousel {
        height: 420px;
    }
}

@media (min-width: 768px) {
    .carousel {
        height: 480px;
    }
}

@media (min-width: 992px) {
    .top-move {
        margin-top: -70px;
    }

    .carousel {
        height: 520px;
    }
}

@media (min-width: 1200px) {
    .top-move {
        margin-top: -80px;
    }

    .carousel {
        max-height: 680px;
    }

    .carousel-image {
        width: 100%;
    }
}

