.bg-orange {
    background: #FD9029 !important;
}

.text-orange {
    color: #FD9029 !important;
}

.border-orange {
    border-color: #FD9029 !important;
}

/* btn */
.btn-orange {
    color: white;
    background-color: #FD9029 !important;
    border-color: #FD9029 !important;
}

.btn-outline-orange {
    color: #FD9029;
    border-color: #FD9029;
}

.btn-outline-orange:hover {
    color: white;
    background-color: #FD9029 !important;
    border-color: #FD9029;
}

.btn-orange:hover {
    color: white;
    background-color: #D06B00 !important;
    border-color: #D06B00 !important;
}

/* input icon style */
.form-control.is-invalid {
    background-image: none;
}

.form-control.is-valid {
    background-image: none;
}

/* breadcrumb */
.breadcrumb {
    border: 1px solid #E9ECEF !important;
    background-color: white;
}

.breadcrumb > .active {
    color: #FD9029;
}

.breadcrumb-item a:hover {
    text-decoration: none !important;
}

/* footer */
footer {
    font-size: 95%;
}

.footer--link {
    color: white;
}

.footer--link:hover {
    color: #E1E1E1;
    text-decoration: none;
    cursor: pointer;
}

.footer--divider {
    border-color: #CFCFCF;
    margin: .5rem 0;
}

.footer--nav {
    max-width: 500px;
}

/* header */
@media (min-width: 992px) {
    .navbar {
        padding: 0;
        font-size: 110%;
    }

    .nav-item {
        display: flex;
        justify-content: center;
        align-items: center;
        border-left: 1px solid #00B9B9;
        padding: .2rem .5rem;
    }

    .nav-item:last-child {
        border-right: 1px solid #00B9B9;
    }

    .nav-item:hover {
        cursor: pointer;
        background-color: #00B9B9;
    }

    .nav-item:hover a {
        color: white !important;
    }

    .nav-item.active {
        background-color: #00B9B9;
    }
}

@media (min-width: 1200px) {
    .navbar {
        padding: 0;
        font-size: 120%;
    }

    .nav-item {
        border-left: 1px solid #00B9B9;
        padding: .3rem 1rem;
    }
}

/* pagination */
.pagination.bg-orange {
    background: transparent !important;
}

.pagination.bg-orange .page-item > a {
    background: #FD9029;
    border: 1px solid #FD9029;
    color: white;
    border-radius: 10%;
}

.pagination.bg-orange .page-item.active > a {
    background: #D06B00;
    border: 1px solid #D06B00;
}

.pagination.bg-orange .page-item.disabled > a {
    background: #FFAB90;
    border: 1px solid #FFAB90;
}

.pagination.bg-orange .page-item {
    margin: .2rem;
}

/* link styles */
a.text-info {
    color: #17a2b8;
}

a.text-info:hover {
    text-decoration: none !important;
    color: #00B9B9;
}

a.text-orange {
    color: #FD9029;
}

a.text-orange:hover {
    text-decoration: none !important;
    color: #FFAB90 !important;
}
